<courseThumbnail>
    <top>
        <slot name="pricingType">Free Course</slot>
        <timeBadge>
            <slot name="timeBadge">2 Mins</slot>
        </timeBadge>
    </top>
    <bottom>
        <h1>
            <slot name="courseTitle">Course Title</slot>
        </h1>
        <div class="coursePlaytime">
            <a href="course/randomCourse/part1.html" class="startBtn">
                Start
                <svg
                    width="15"
                    height="17"
                    viewBox="0 0 15 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1 1L14 8.5L1 16V1Z"
                        fill="white"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
            <div class="progressTrack">
                <div class="progressFill">25%</div>
            </div>
        </div>
    </bottom>
</courseThumbnail>
