<fg-coursethumbnail>
    <fg-top>
        <fg-slot data-name="pricingType">Free Course</fg-slot>
        <fg-timebadge>
            <fg-slot data-name="timeBadge">2 Mins</fg-slot>
        </fg-timebadge>
    </fg-top>
    <fg-bottom>
        <h1>
            <fg-slot data-name="courseTitle">Course Title</fg-slot>
        </h1>
        <div class="coursePlaytime">
            <a href="course/randomCourse/part1.html" class="startBtn">
                Start
                <svg
                    width="15"
                    height="17"
                    viewBox="0 0 15 17"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M1 1L14 8.5L1 16V1Z"
                        fill="white"
                        stroke="white"
                        stroke-width="1.5"
                        stroke-linejoin="round"
                    />
                </svg>
            </a>
            <div class="progressTrack">
                <div class="progressFill">25%</div>
            </div>
        </div>
    </fg-bottom>
</fg-coursethumbnail>
