<button
    class="jobCard"
    type="button"
    data-popup-open="job-detail"
    data-search-item="job role virtual category pay"
    data-pay="any"
    data-category="any"
    data-style="virtual"
    aria-haspopup="dialog"
>
    <span class="jobCardPreview" aria-hidden="true"></span>
    <span class="jobCardCopy">
        <strong>Job Role</strong>
        <span>Short description of the job role. Mostly up to three lines in size for compactness.</span>
        <span class="jobCardPay">Pay: $95K-$280K</span>
    </span>
</button>
