<nav class="mobile-bottom-nav" aria-label="Primary navigation">
    <a class="mobile-nav-home" href="home.html"><img src="icons/home.svg" alt="" /><span>Home</span></a>
    <a class="mobile-nav-assets" href="library/overview.html"><img src="icons/file.svg" alt="" /><span>Assets</span></a>
    <a class="mobile-nav-community" href="community.html"><img src="icons/people.svg" alt="" /><span>Community</span></a>
    <a class="mobile-nav-more" href="settings/overview.html">
        <img class="mobile-nav-profile" src="assets/generic.png" alt="" />
        <span>More...</span>
    </a>
</nav>
