<button class="mobile-drawer-scrim" type="button" aria-label="Close menu" data-close-drawer></button>
<aside class="mobile-home-drawer" id="mobile-home-drawer" aria-hidden="true">
    <header>
        <button class="mobile-drawer-close" type="button" aria-label="Close game projects" data-close-drawer>
            <span></span><span></span>
        </button>
        <img src="icons/fg.svg" alt="ForgeGUI" />
    </header>
    <nav class="mobile-projects" aria-label="Game projects">
        <h2>Game Projects</h2>
        <a href="oldChat.html"><img src="icons/s-3d.svg" alt="" /><span>Message 1</span><img src="icons/3dots.svg" alt="" /></a>
        <a href="oldChat.html"><img src="icons/s-3d.svg" alt="" /><span>Message 1</span><img src="icons/3dots.svg" alt="" /></a>
        <a href="oldChat.html"><img src="icons/s-3d.svg" alt="" /><span>Message 1</span><img src="icons/3dots.svg" alt="" /></a>
        <a href="oldChat.html"><img src="icons/s-3d.svg" alt="" /><span>Message 1</span><img src="icons/3dots.svg" alt="" /></a>
        <a href="oldChat.html"><img src="icons/s-3d.svg" alt="" /><span>Message 1</span><img src="icons/3dots.svg" alt="" /></a>
        <a href="oldChat.html"><img src="icons/s-3d.svg" alt="" /><span>Message 1</span><img src="icons/3dots.svg" alt="" /></a>
    </nav>
    <nav class="mobile-drawer-links" aria-label="Additional navigation">
        <a class="mobile-upgrade" href="plans.html"><img src="icons/crown.svg" alt="" /><span>Upgrade to Pro</span></a>
        <a href="courses.html"><img src="icons/book.svg" alt="" /><span>Courses</span></a>
        <a href="leaderboard.html"><img src="icons/Trophy.svg" alt="" /><span>Leaderboard</span></a>
        <a href="placeholder.html"><img src="icons/bell.svg" alt="" /><span>Notifications</span></a>
    </nav>
</aside>
