<fg-post>
    <fg-top>
        <fg-slot data-name="avatar"><img src="generic.png" /></fg-slot>
        <fg-slot data-name="username"><fg-username>User</fg-username></fg-slot>
        <div style="width:6px;height:6px;border-radius:50%;background:white;flex-shrink:0"></div>
        <fg-slot data-name="timestamp"><fg-timestamp>now</fg-timestamp></fg-slot>
        <div style="flex:1"></div>
        <fg-slot data-name="tag"></fg-slot>
        <img src="icons/3dots.svg" />
    </fg-top>
    <fg-slot data-name="content"></fg-slot>
    <fg-bottom>
        <img src="icons/share.svg" />
        <div style="flex:1"></div>
        <fg-engagement>
            <img src="icons/heart.svg" />
            <fg-slot data-name="likes"><span>0</span></fg-slot>
        </fg-engagement>
        <fg-engagement>
            <img src="icons/message.svg" />
            <fg-slot data-name="comments"><span>0</span></fg-slot>
        </fg-engagement>
    </fg-bottom>
</fg-post>
