<a class="projectEntry" href="library/project.html">
    <fg-previewgrid>
        <fg-slot data-name="preview">
            <img src="assets/coursePlaceholder.jpg" alt="" />
            <img src="assets/coursePlaceholder.jpg" alt="" />
            <img src="assets/coursePlaceholder.jpg" alt="" />
            <img src="assets/coursePlaceholder.jpg" alt="" />
        </fg-slot>
    </fg-previewgrid>
    <fg-bottom>
        <fg-vertical>
            <b><fg-slot data-name="title">Project Name</fg-slot></b>
            <span><fg-slot data-name="date">Last edited: Yesterday</fg-slot></span>
        </fg-vertical>
        <img src="icons/3dots.svg" alt="" />
    </fg-bottom>
</a>
