<fg-sidebar class="settingsSidebar">
    <fg-top> Settings </fg-top>

    <fg-specialtabs>
        <a href="settings/overview.html" class="sidebarElem">
            <img src="icons/home.svg" alt="" />
            <span>Account Overview</span>
        </a>
        <a
            href="settings/billing.html"
            class="sidebarElem"
            data-route="assets.html"
        >
            <img src="icons/card.svg" alt="" />
            <span>Plan & Billing</span>
        </a>
        <a href="settings/rewards.html" class="sidebarElem" data-route="settings/rewards.html">
            <img src="icons/Rewards.svg" alt="" />
            <span>Referrals & Rewards</span>
        </a>
    </fg-specialtabs>
</fg-sidebar>
