<fg-sidebar>
    <fg-top class="sb">
        <img src="assets/footerLogo.svg" class="fgLogo" alt="ForgeGUI" />
        <button type="button" data-toggle-sidebar aria-label="Toggle sidebar">
            <img src="icons/sidebar.svg" alt="" />
        </button>
    </fg-top>

    <fg-specialtabs>
        <a href="home.html" class="sidebarElem" data-route="home.html">
            <img src="icons/home.svg" alt="" />
            <span>Home</span>
        </a>
        <a href="library/overview.html" class="sidebarElem" data-route="library/overview.html">
            <img src="icons/file.svg" alt="" />
            <span>Assets</span>
        </a>
        <a href="community.html" class="sidebarElem" data-route="community.html">
            <img src="icons/people.svg" alt="" />
            <span>Community</span>
        </a>
    </fg-specialtabs>

    <fg-projects data-conversation-list hidden>
        <fg-toplabel>Games</fg-toplabel>
        <span class="conversationListStatus" data-conversation-status>Loading chats...</span>
    </fg-projects>

    <fg-contextmenu
        id="userMenu"
        class="hidden user"
        style="width: 282px"
    >
        <a href="mailto:support@forgegui.com"><img src="icons/Exclamation.svg" alt="" /> Help</a>
        <a href="settings/overview.html"><img src="icons/Settings.svg" alt="" /> Settings</a>

        <button class="destructive" data-auth-signout>
            <img src="icons/SignOut.svg" alt="" /> Logout
        </button>
    </fg-contextmenu>

    <fg-bottom class="sb">
        <a href="plans.html" class="sidebarElem upgradeButton" data-route="plans.html">
            <img src="icons/crown.svg" alt="" style="image-rendering: optimizeQuality" />
            <span>Upgrade to Pro</span>
        </a>

        <fg-actions>
            <a href="courses.html" class="sidebarElem" data-route="courses.html,course/">
                <img src="icons/book.svg" alt="" />
                <span>Courses</span>
            </a>
            <a href="plugins.html" class="sidebarElem" data-route="plugins.html">
                <img src="icons/plugin.svg" alt="" />
                <span>Plugins</span>
            </a>
            <a href="leaderboard.html" class="sidebarElem" data-route="leaderboard.html">
                <img src="icons/Trophy.svg" alt="" />
                <span>Leaderboard</span>
            </a>
            <a href="notifications.html" class="sidebarElem" data-route="notifications.html">
                <img src="icons/bell.svg" alt="" />
                <span>Notifications</span>
            </a>
        </fg-actions>

        <fg-sidebaruserbutton data-context-target="userMenu">
            <img src="assets/generic.png" alt="" data-user-avatar />
            <fg-vertical>
                <b data-user-name>Creator</b>
                <span data-user-email></span>
            </fg-vertical>
            <img src="icons/selection.svg" alt="" />
        </fg-sidebaruserbutton>
    </fg-bottom>
</fg-sidebar>
